{#
/**
 * @file
 * Block template for exposed filter form attached to find recipes.
 *
 * USAGE: Copy this file to your theme's templates directory, or implement hook_theme
 * from your module referencing this template file.
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {% block content %}
    Search recipes and choose filters to show only the results you want.
    <div{{ content_attributes.addClass('content') }}>
      {{ content }}
    </div>
  {% endblock %}
</div>
