{% set classes = [
  'webform--quiz',
  passed ? 'passed' : 'failed'
]
%}
<div {{ attributes.addClass(classes) }}>
  <div class="introduction">
    {{ introduction }}
  </div>
  <div class="result">
    {{ result }}
  </div>
  {% if score and max_score and pass_score %}
    <h3>{% trans %}You scored {{ score }} out of {{ max_score }}{% endtrans %}</h3>
    <span>({% trans %}the pass mark is {{ pass_score }} or above{% endtrans %})</span>
  {% endif %}
  <div class="feedback">
    {{ feedback_introduction }}
  </div>
  <h2>{% trans %}Summary and feedback{% endtrans %}</h2>
  {{ feedback }}
</div>
