{% set quiz_feedback_classes = [
  'quiz-feedback',
  passed ? 'info-notice info-notice--large info-notice--success' : 'info-notice info-notice--large info-notice--error'
]
%}
<h3 class="quiz-question">
  {{ title }}
  <span class="subtitle">{{ question }}</span>
</h3>
<details{{ attributes.addClass(quiz_feedback_classes) }} open="open">
  <summary aria-label="Your answer">
    {{ user_answer }}
    <span class="{{ passed ? 'success' : 'error' }}" aria-label="is">{{ passed ? 'correct' : 'wrong' }}</span>
  </summary>
  {{ feedback }}
</details>
