{#
/**
 * @file
 * Default template for GP Practice's teaser view mode.
 * USAGE: copy to your theme folder templates directory, or
 * use from a module with a suitable hook_theme instance.
 */
#}
<h3><a href="{{ url }}">{{ label }}</a></h3>
{% if gp_names %}
  <div class="gp-practice-members">
    <span>{{ gp_names|join(', ') }}</span>
  </div>
{% endif %}
{% if content.field_address %}
  <div class="gp-practice-address">
    {% if content.field_address.0.address_line1 %}{{ content.field_address.0.address_line1 }}{% endif %}
    {% if content.field_address.0.locality %}, {{ content.field_address.0.locality }}{% endif %}
  </div>
{% endif %}
{% if content.field_gp_appointments or content.field_gp_prescriptions %}
  <div class="gp-practice-online-services">
    {% if content.field_gp_appointments.0 %}
      <div>Online appointments</div>
    {% endif %}
    {% if content.field_gp_prescriptions.0 %}
      <div>Repeat prescriptions</div>
    {% endif %}
  </div>
{% endif %}
{{ content | without('field_address', 'field_gp_appointments', 'field_gp_prescriptions') }}
